{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
My Account | Lifestyle Electronics
{% endblock %}

{% block body %}

<div class="shadow p-2 rounded" style="background-color:#e9ecef; color:black">
    <div class="row text-center font-weight-bold">
        <div class="col-lg-2 col-md-4 col-sm-6">
            <p><a href="/products">All Products</a></p>
        </div>
        {% for category in categories %}
        <div class="col-lg-2 col-md-4 col-sm-6">
            <p><a href="/products/?category={{category.id}}">{{category.category_name}}</a></p>
        </div>
        {% endfor %}
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
    {% endfor %}
{% endif %}

<div class="my-account-box-main">
    <div class="container">
        <div class="my-account-page">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Account Information</h1>
                    </div>
                    <div class="title-left" id="profile">
                        <h1 class="font-weight-bold"><i class="fas fa-user-circle pr-2"></i>Profile</h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12" style="margin-bottom:20px;">
                            <div class="mb-4 ctr">
                                <img src="{{customer.profile_pic.url}}" height="200px" alt="Image" style="border-radius: 25%;">
                            </div>
                            <div class="mb-2 ctr">
                                <a href="/account/updateprofile" class="btn hvr-hover cart mx-1" style="color:white">Update Profile</a>
                                <a href="/account/changepassword" class="btn hvr-hover cart mx-1" style="color:white">Change Password</a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12" style="margin-bottom:20px;">
                            <div class="display-4" style="margin-bottom:20px">
                                {{user.first_name}} {{user.last_name}}
                            </div>
                            <div class="table-main table-responsive" style="margin-bottom:20px">
                                <table class="table">
                                    <tr>
                                        <td>E-mail</td>
                                        <td>{{user.email}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mobile Number</td>
                                        <td>+91 {{customer.phone}}</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>{{customer.house_no}}, {{customer.street}}, {{customer.city}} - {{customer.pin}}</td>
                                    </tr>
                                    <tr>
                                        <td>Customer Since</td>
                                        <td>{{user.date_joined}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
