{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
Lifestyle Electronics
{% endblock %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
    {% endfor %}
{% endif %}

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides" style="height:500px">
    <ul class="slides-container">
        <li class="text-left">
            <img src="{% static 'images/slider4.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Discover <br>what's out there</strong></h1>
                        <p class="m-b-40">Discounts, offers and many more...</p>
                        <p><a class="btn hvr-hover" href="/products">Explore</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-left">
            <img src="{% static 'images/slider2.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Discover <br>what's out there</strong/strong></h1>
                        <p class="m-b-40">Newly launched Products</p>
                        <p><a class="btn hvr-hover" href="/products">Shop</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-left">
            <img src="{% static 'images/slider1.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Discover <br>what's out there</strong/strong></h1>
                        <p class="m-b-40">Newly launched Products</p>
                        <p><a class="btn hvr-hover" href="/products">Get Started</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fas fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fas fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->

<div class="mt-2">
    <div class="shadow p-2 rounded" style="background-color:#e9ecef; color:black">
        <div class="container">
            <div class="row text-center font-weight-bold">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <p><a href="/products">All Products</a></p>
                </div>
                {% for category in categories %}
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <p><a href="/products/?category={{category.id}}">{{category.category_name}}</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
